extends layout

block content
  include loading.pug

  div(class="row mb-1")
    div(class="col-1")
      a(
        role="button"
        class="btn btn-outline-info p-0"
        href="admins_dwit"
      )
        i(class="bi bi-person-add fs-5 p-1")
        label(class="fs-6 ps-0 pt-0 pb-0 pe-2") Add

  table(style='width:100%', border='1')
    thead
      tr
        th Username 
        th Password 
        th Registered
        th Edit
    tbody
      each row in data 
        tr
          td= row['username']
          td= row['password']
          td(name="uTimeStr")= row['registered']
          td(id="tdStatus_"+row['id'] data-status=row['status'])
            a(class="pe-1" href="admins_dwit?op=edit&id=" + row['id'])
              i(class="bi bi-pencil-square text-info")
            a(
                class="pe-1" 
                id="lnkHide_"+row['id']
                href="#"+(""+row['username']).toLowerCase()
                onClick="hideMoney4Admin(" + row['id'] + ", parseInt($('#tdStatus_' + " + row['id'] + ").data('status')) == 1)"
              )
                if row['status'] == 1
                  i(class="bi bi-eye fs-6 text-info")
                else 
                  i(class="bi bi-eye-slash fs-6 text-secondary")
  
  script.
    function hideMoney4Admin(id, hidden) {
      $.ajax({
        url: "admins_dwit",
        type: "post",
        data: {submitType: "ajax_hide", adminid: id, hidden: hidden},
        dataType: "json",
        success: function(data) {
          // console.log(`[debug from admins.pug:(hidden)]${hidden}`);
          if (data.rst == 1) {
            $("#tdStatus_" + id).data("status", hidden ? 2 : 1);
            $("#lnkHide_" + id).html(hidden ? "<i class='bi bi-eye-slash fs-6 text-secondary'></i>" : "<i class='bi bi-eye fs-6 text-info'></i>");
          } else {
          }
        }
      })
    }
