extends layout

block content
    form(id="formAgentDwit" action="agents_dwit" method="post")
        div(class="container w-100")
            div(class="row m-2")
                div(class="col-3")
                    label(class="text-light" for="selOffice") Office
                    label(class="text-danger ms-2") *
                div(class="col-9")
                    - var op = (data == "" ? "add" : "edit")
                    case offices.length 
                        when 1
                            input(type="hidden" name="selOffice" id="selOffice" value=offices[0]["id"])
                            input(type="hidden" name="submitType" id="submitType" value=op)
                            label(for)= offices[0]["username"]
                        default
                            input(type="hidden" name="submitType" id="submitType" value=op)
                            select(
                                class="form-select w-75"
                                name="selOffice"
                                id="selOffice"
                                required
                            )
                                option(selected value="") 
                                each row in offices  
                                    option(value=row["id"])= row["username"] 
                            
            div(class="row m-2")
                div(class="col-3")
                    label(class="text-light" for="ipt1stName") First Name
                    label(class="text-danger ms-2") *
                div(class="col-9")
                    input(
                        class="form-input w-75 rounded-2"
                        style="height:39px;"
                        type="text"
                        id="ipt1stName"
                        name="ipt1stName"
                        value=(data=="" ? "" : data[0]["1stname"])
                        required
                    )
            div(class="row m-2")
                div(class="col-3")
                    label(class="text-light" for="iptLstName") Last Name
                    label(class="text-danger ms-2") *
                div(class="col-9")
                    input(
                        class="form-input w-75 rounded-2"
                        style="height:39px;"
                        type="text"
                        id="iptLstName"
                        name="iptLstName"
                        value=(data=="" ? "" : data[0]["lstname"])
                        required
                    )
            div(class="row m-2")
                div(class="col-3")
                    label(class="text-light" for="iptUsername") Username
                    label(class="text-danger ms-2") *
                div(class="col-9")
                    input(
                        type="hidden" 
                        name="iptId" 
                        id="iptId"
                        value=(data=="" ? -1 : data[0]["id"])
                    )
                    input(
                        class="form-input w-75 rounded-2"
                        style="height:39px;"
                        type="text"
                        id="iptUsername"
                        name="iptUsername"
                        value=(data=="" ? "" : data[0]["username"])
                        required
                    )
            div(class="row m-2")
                div(class="col-3")
                    label(class="text-light" for="iptPassword") Password
                    label(class="text-danger ms-2") *
                div(class="col-9")
                    input(
                        class="form-input w-75 rounded-2"
                        style="height:39px;"
                        type="password"
                        id="iptPassword"
                        name="iptPassword"
                        value=(data=="" ? "" : data[0]["password"])
                        required
                    )
            div(class="row m-2")
                div(class="col-3")
                    label(class="text-light" for="iptPassword2") Confirm Password
                    label(class="text-danger ms-2") *
                div(class="col-9")
                    input(
                        class="form-input w-75 rounded-2"
                        style="height:39px;"
                        type="password"
                        id="iptPassword2"
                        name="iptPassword2"
                        value=(data=="" ? "" : data[0]["password"])
                        required
                    )
            div(class="row m-2")
                div(class="col-3")
                    label(class="text-light" for="txtNote") Must Read (optional)
                div(class="col-9")
                    textarea(
                        class="form-control w-75 mb-1 rounded-2"
                        rows="5"
                        id="txtNote"
                        name="txtNote"
                    )= (data=="" ? "" : data[0]["note"])
            div(class="row m-2")
                div(class="col-3")
                    div(class="form-check")
                        - var status = (Number.isNaN(data) || data == "" ? 1 : (data[0]["status"] == 1 ? 1 : 0));
                        input(
                            checked=(status == 1 ? true : false)
                            class="form-check-input"
                            value=status
                            type="checkbox"
                            id="chkStatus"
                            name="chkStatus"
                            onclick="$('#chkStatus').val(" + (status == 1 ? 0 : 1) + ")"
                        )
                        label(class="text-light" for="chkStatus" class="form-check-label") Activated
                div(class="col-9")
                    input(
                        class="w-25 btn btn-primary mb-3"
                        type="submit"
                        value=(data == "" ? "Add" : "Edit")
                    )
                    a(
                        role="button"
                        class="btn btn-secondary mb-3 ms-2"
                        href="agents"
                    ) Cancel
