doctype html
html
  - var hideNav = (filename.indexOf("login") !== -1 ? 1 : 0)
  head
    title= title
    link(rel='icon' href='/images/gwr.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-icons/font/bootstrap-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome-solid.min.css')
    case hideNav 
      when 1
        break
      when 0
        link(rel='stylesheet', href='/stylesheets/jodit.min.css')
        link(rel='stylesheet', href='/stylesheets/tableManager.css')
        link(rel='stylesheet', href='/stylesheets/daterangepicker.css')
    script(src='javascripts/jquery-3.7.1.min.js')
    script(src='javascripts/bootstrap.bundle.min.js')
    script(src='javascripts/jquery.validate.min.js')
    script(src='javascripts/dayjs/dayjs.min.js')
    script(src='javascripts/dayjs/plugin/utc.js')
    script(src='javascripts/dayjs/plugin/timezone.js')
    case hideNav 
      when 1
        break
      when 0
        script(src='javascripts/jodit.min.js')
        script(src='javascripts/pagination-sort-filter-manager/tableManager.js')
        script(src='javascripts/pagination-sort-filter-manager/tableManager1.js')
        script(src='javascripts/daterangepicker-master/moment.min.js')
        script(src='javascripts/daterangepicker-master/daterangepicker.js')

  body(class="bg-dark text-dark fw-lighter" style="background-image:url('images/gwrbg.jpg');background-size:cover;background-position:center;height:100vh;")
    script(src='javascripts/ztoolkits.js')
    script(src='javascripts/layout.pug.js')

    //- preset database defines
    - var typeNames = ['Super Admin', 'Admin', 'Office', 'Agent']

    div(class="container")
      //- top banner
      div(class="row text-center")
        div(class="col-2 pt-0 pe-0 pb-0 mt-0 me-0 mb-0" style="height:210px;")          
          img(src="images/Saturn-xs.gif" class="w-100 h-100 m-0 p-0" title="Saturn")
        div(class="col-10 ps-0 pt-0 pb-0 ms-0 mt-0 mb-0" style="height:210px;")
          img(src="images/topbanner.png" class="w-100 h-100 m-0 p-0 rounded-end" title="GWR Banner")

      input(id="iptNewAgs" value=(hideNav == 1 ? "" : (newags == undefined ? "" : newags)) type="hidden")
      script.
        sessionStorage.setItem("newags", $("#iptNewAgs").val());
      
      input(id="iptHideNav" value=hideNav type="hidden")
      - var paths = filename.split("\/")
      - var lastpath = paths[paths.length -1]
      - var idx = lastpath.indexOf("_") 
      - var ofPath = (idx != -1 ? lastpath.substr(0, idx) : lastpath)
      case hideNav
        when 1
          break
        when 0
          //- the following is a navbar implemented with bootstrap
          nav(class="navbar navbar-expand navbar-dark bg-dark nav-underline p-0 m-0")
            .container-fluid
              //- a(class="navbar-brand fw-bolder text-warning" href="#") GWR
              button(class="navbar-toggler" type="button" 
                  data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" 
                  aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
              div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                div(class="navbar-nav", id="navbarMain")
                  - for (var i = 0; i < navs.length; i++)
                    - var pathNav = navs[i].toLowerCase()
                    - pathNav = pathNav.replace(/\s*/g, '')
                    - pathNav = pathNav.replace(/\*/g, '')
                    - if (pathNav == "new") pathNav = "approveagents" //very important hard code!!
                    - if (pathNav == "set") pathNav = "settings" //very important hard code!!
                    - var clsNav = (ofPath.indexOf(pathNav) === 0 ? " active text-danger" : " text-light")
                    a(class="nav-link ms-0 ps-0 me-1 fw-bold"+clsNav id="navLnk_"+pathNav href=pathNav)
                      - if (navs[i] == "Set") // hard code here
                          i(class="bi bi-gear text-light fs-6 p-1")
                      - else
                          = navs[i]
              a(class="nav-link float-sm-end" href="#foo" title=user alt=user)
                i(class="bi bi-person-circle text-light fs-5 p-1")
              a(class="nav-link float-sm-end" href="logout" title="Logout" alt="Logout")
                i(class="bi bi-box-arrow-right text-light fs-5 p-1")
      div(class="row mb-1 text-center" + (tips == "" || typeof(tips) == undefined || tips == null ? " d-none" : " d-block"))
        div(class="col text-warning" style="height:41px")= tips
      div(class="row")
        div(class="col-4")
          h4= title
        div(class="col-8 text-light text-end")
          label(class="col-8 float-end fw-bold" id="lblLiveClock")
          script.
            _zShowClock();

      button(id="btnPopup" class="btn btn-info d-none" data-bs-toggle="modal" data-bs-target="#popupModal") popup
      div(class="modal fade w-100" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable")
          div(class="modal-content text-bg-dark")
            div(class="modal-header pt-2 pb-2 pe-3")
              h3(class="modal-title fs-5 m-0 ps-0")= "Alert"
              button(type="button" class="btn m-0 p-0" style="color:white;" data-bs-dismiss="modal" aria-label="Close")
                i(class="bi bi-x-octagon")
            div(class="modal-body")
              div(class="w-100")!= (data1 == undefined || data1 == null ? "......" : data1[0]['content'])
            div(class="modal-footer")
              button(type="button" class="btn btn-primary m-0 pt-0 pb-0" data-bs-dismiss="modal") Enter

      block content

