doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-icons/font/bootstrap-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/jodit.min.css')
    script(src='javascripts/jquery-3.7.1.min.js')
    script(src='javascripts/bootstrap.bundle.min.js')
    script(src='javascripts/jquery.validate.min.js')
    script(src='javascripts/dayjs/dayjs.min.js')
    script(src='javascripts/dayjs/plugin/utc.js')
    script(src='javascripts/dayjs/plugin/timezone.js')
    script(src='javascripts/jodit.min.js')

  body(class="bg-dark text-dark fw-lighter")
    script(src='javascripts/ztoolkits.js')
    script(src='javascripts/layout.pug.js')

    //- preset database defines
    - var typeNames = ['Super Admin', 'Admin', 'Office', 'Agent']

    div(class="container")
      //- top banner
      div(class="row text-center")
        div(class="col-2 p-0 m-0")
          img(src="images/topleft-sm.gif", class="w-100 h-100 m-0 p-0")
        div(class="col-10 p-0 m-0")
          img(src="images/topbanner.png", class="w-100 h-100 m-0 p-0")

      - var hideNav = (filename.indexOf("login") !== -1 ? 1 : 0)
      - var paths = filename.split("\/")
      - var lastpath = paths[paths.length -1]
      - var idx = lastpath.indexOf("_") 
      - var ofPath = (idx != -1 ? lastpath.substr(0, idx) : lastpath)
      case hideNav
        when 1
          break
        when 0
          //- the following is a navbar implemented with bootstrap
          nav(class="navbar navbar-expand-lg navbar-dark bg-dark nav-underline")
            .container-fluid
              a(class="navbar-brand fw-bolder text-warning" href="#") GWR
              button(class="navbar-toggler" type="button" 
                  data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" 
                  aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
              div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                div(class="navbar-nav", id="navbarMain")
                  - var i = 0
                  each itemNav in navs
                    - i++ 
                    - var pathNav = itemNav.toLowerCase()
                    - pathNav = pathNav.replace(/\s*/g, '')
                    - var clsNav = (ofPath.indexOf(pathNav) === 0 ? " active" : "")
                    a(class="nav-link " + clsNav  href=pathNav)= itemNav
              a(class="nav-link float-sm-end" href="logout" title="Logout" alt="Logout")
                label(class="border border-start-0 border-end-0 rounded-3 text-light ps-1 pe-1 me-1")= user
                i(class="bi bi-box-arrow-right text-light fs-5 p-1")
      block content
