doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-icons/font/bootstrap-icons.min.css')

  body(class="bg-dark text-light fw-lighter")
    script(src='javascripts/bootstrap.bundle.min.js')
    script(src='javascripts/jquery-3.7.1.min.js')
    script(src='javascripts/jquery.validate.min.js')
    script(src='javascripts/dayjs/dayjs.min.js')
    script(src='javascripts/dayjs/plugin/utc.js')
    script(src='javascripts/dayjs/plugin/timezone.js')
    script(src='javascripts/ztoolkits.js')
    script(src='javascripts/layout.pug.js')

    //- preset database defines
    - var typeNames = ['Super Admin', 'Admin', 'Office', 'Agent']

    div(class="container")
      //- top banner
      div(class="row text-center")
        img(src="images/logo.9244004e.gif", class="img-fluid")

      - var hideNav = (filename.indexOf("login") !== -1 ? 1 : 0)
      - var paths = filename.split("\/")
      - var lastpath = paths[paths.length -1]
      - var idx = lastpath.indexOf("_") 
      - var ofPath = (idx != -1 ? lastpath.substr(0, idx) : lastpath)
      case hideNav
        when 1
          break
        when 0
          //- the following is a navbar implemented with bootstrap
          nav(class="navbar navbar-expand-lg navbar-dark bg-dark nav-underline")
            .container-fluid
              a(class="navbar-brand" href="#") CCS
              button(class="navbar-toggler" type="button" 
                  data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" 
                  aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
              div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                div(class="navbar-nav", id="navbarMain")
                  - var navs = ["Home", "News", "Offices", "Agents", "Approve Agents", "Sites", "Stats", "Links", "Logs", "Profile", "Admins", "Settings"]
                  - var i = 0
                  each itemNav in navs
                    - i++ 
                    - var pathNav = itemNav.toLowerCase()
                    - pathNav = pathNav.replace(/\s*/g, '')
                    - var clsNav = (ofPath.indexOf(pathNav) === 0 ? " active" : "")
                    a(class="nav-link " + clsNav  href=pathNav)= itemNav
              a(class="nav-link float-sm-end" href="logout" title="Logout" alt="Logout")
                i(
                  class="bi bi-box-arrow-right fs-5 p-1"
                )
      block content
