extends layout

block content
  h4 Please login
  
  div(class="container text-center" style="width:360px")
    div(class="row")
      div(class="col" style="height:41px")= tips
    div(class="row")
      div(class="col")
        form(
          action="./login"
          method="post"
        )
          div(class="row")
            div(class="col-2 p-2")
              i(
                class="bi bi-person-fill fs-4 p-1 border"
              )
            div(class="col-10 p-2")
              input(
                class="w-100 h-100"
                type="text"
                name="username"
                id="username"
                placeholder="Username"
              )
          div(class="row")
            div(class="col-2 p-2")
              i(
                class="bi bi-shield-lock-fill fs-4 p-1 border"
              )
            div(class="col-10 p-2")
              input(
                class="w-100 h-100"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              )
          div(class="row")
            div(class="col-2 p-2")
            div(class="col-10 p-2")
              input(
                class="w-100 btn btn-primary mb-3"
                type="submit"
                value="Login"
              )