extends layout

block content
  script.
    sessionStorage.setItem("newags", "")
  div(class="container text-center bg-dark rounded-2 border border-1" style="width:420px")
    div(class="row")
      div(class="col p-2 text-light border-bottom-1")
        h4 Sign In
    //- div(class="row" + (tips == "" || typeof(tips) == undefined || tips == null ? " d-none" : " d-block"))
      div(class="col text-warning" style="height:41px")= tips
    div(class="row")
      div(class="col")
        form(
          action="login"
          method="post"
        )
          div(class="row")
            div(class="col-2 p-2")
              i(class="bi bi-person-fill fs-4 p-1 text-light border rounded-2")
            div(class="col-10 p-2")
              input(
                class="w-100 h-100 rounded-2"
                type="text"
                name="username"
                id="username"
                placeholder="Username"
              )
          div(class="row")
            div(class="col-2 p-2")
              i(class="bi bi-shield-lock-fill fs-4 p-1 text-light border rounded-2")
            div(class="col-10 p-2")
              input(
                class="w-100 h-100 rounded-2"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              )
          div(class="row")
            div(class="col-2 p-2")
              i(class="bi bi-robot fs-4 p-1 text-light border rounded-2")
            div(class="col-6 p-2")
              input(
                class="w-100 rounded-2"
                style="height:36px;"
                type="text"
                name="captcha"
                id="captcha"
                placeholder="Verification"
              )
            div(class="col-4 p-1")
              img(
                id="captchaImg"
                src="captcha"
                class="mt-1 rounded-2"
                style="height:36px;cursor:pointer;"
                alt="Click to change"
                title="Click to change"
              )
          div(class="row")
            div(class="col-2 p-2")
            div(class="col-10 p-2")
              input(
                class="w-100 btn btn-primary mb-3"
                type="submit"
                value="Login"
              )
