extends layout

block content
  form(id="formSearchLog" action="logs" method="post")
    div(class="container w-100 mb-2 bg-primary-dark border border-secondary-subtle rounded-3")
      div(class="row p-2")
        div(class="col")
          i(class="bi bi-search fs-6 p-1 text-light")
          b(class="text-light") Search 
      div(class="row p-1")
        div(class="col-1 text-light") Username 
        div(class="col-3")
          input(
            class="w-100 h-80 rounded-2"
            type="text"
            name="iptUsername"
            id="iptUsername"
            placeholder="Username"
          )
        div(class="col-8")
      div(class="row p-1")
        div(class="col-2")
          input(
            type="submit"
            class="btn btn-primary mb-2 w-100"
            value="Search"
          )
        div(class="col-2")
          a(
            role="button"
            class="btn btn-secondary mb-1"
            href="logs"
          ) Reset
        div(class="col-8")

  table(class="w-100 tablemanager" id="tblLogs")
    thead 
      tr 
        th #
        th Username
        th Office
        th IP
        th Login 
        th Logout
    - var i = 0
    tbody
      each row in data 
        - i++
        tr 
          td= i
          td= row['username']
          td= row['office'] == null ? "-" : row['office']
          td= row['ip4']
          td(name='uTimeStr')= row['intime']
          td(name='uTimeStr')= row['outtime']
    tfoot 
      tr 
        td
        td
        td
        td(class="text-bg-warning text-end") Login Tots:
        td(class="text-bg-warning")= i

  script(src="javascripts/logs.pug.js")