extends layout

block content
  ul(class="nav nav-tabs border-0" id="logTab" role="tablist")
    li( class="nav-item" role="presentation")
      button(class="nav-link ps-2 pe-2 pt-0 pb-0 border-bottom bg-dark text-info fw-normal fs-5 active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true") Logins
    li( class="nav-item" role="presentation")
      button(class="nav-link ps-2 pe-2 pt-0 pb-0 border-bottom bg-dark text-info fw-normal fs-5" id="hit-tab" data-bs-toggle="tab" data-bs-target="#hit-tab-pane" type="button" role="tab" aria-controls="hit-tab-pane" aria-selected="false") Clicks
  hr(class="p-0 m-0")
  label(class="text-warning m-0 p-0" style="font-size:12px;") Showing 2000 rows top here. For more infos, please contact the administrator.
  div(class="tab-content" id="logTabContent")
    div(class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0")
      form(id="formSearchLog" action="logs" method="post")
        div(class="container w-100 mb-1 bg-info-dark border border-secondary-subtle rounded-2")
          div(class="row p-1")
            div(class="col")
              i(class="bi bi-search fs-6 p-1 text-light")
              b(class="text-light") Search 
          div(class="row p-1")
            div(class="col-1 text-light") Username 
            div(class="col-3")
              input(
                class="w-100 h-80 rounded-2"
                type="text"
                name="iptUsername"
                id="iptUsername"
                placeholder="Username"
              )
            div(class="col-8")
          div(class="row p-1")
            div(class="col-2")
              input(
                type="submit"
                class="btn btn-info mb-2 w-100"
                value="Search"
              )
            div(class="col-2")
              a(
                role="button"
                class="btn btn-secondary mb-1"
                href="logs"
              ) Reset
            div(class="col-8")

      table(class="w-100 tablemanager" id="tblLogs")
        thead 
          tr 
            th #
            th Username
            th Office
            th IP
            th Login 
            th Logout
        - var i = 0
        tbody
          each row in data 
            - i++
            tr 
              td= i
              td= row['username']
              td= row['office'] == null ? "-" : row['office']
              td= row['ip4']
              td(name='uTimeStr')= row['intime']
              td(name='uTimeStr')= row['outtime']
        tfoot 
          tr 
            td
            td
            td
            td
            td(class="text-bg-warning text-end") Login Tots:
            td(class="text-bg-warning")= i
    div(class="tab-pane fade text-light" id="hit-tab-pane" role="tabpanel" aria-labelledby="hit-tab" tabindex="0")
      form(id="formSearchHitlog" action="logs" method="post")
        div(class="container w-100 mb-1 bg-info-dark border border-secondary-subtle rounded-2")
          div(class="row p-1")
            div(class="col")
              i(class="bi bi-search fs-6 p-1 text-light")
              b(class="text-light") Search 
          div(class="row p-1")
            div(class="col-1 text-light") Office 
            div(class="col-3")
              select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selOffice_clog"
                  id="selOffice_clog"
                  required
                )
                  if offices.length > 1
                    option(selected value="-111") All
                  - for (var j = 0; j < offices.length; j++) 
                    option(
                      value=offices[j]['id']
                      selected=(post_params != undefined ? (parseInt(post_params.selOffice_clog) == parseInt(offices[j]['id'])) : false)
                    )= offices[j]['username']
            div(class="col-1 text-light") Site
            div(class="col-3")
              select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selSite_clog"
                  id="selSite_clog"
                  required
                )
                  if sites.length > 1
                    option(selected value="-111") All
                  each site in sites  
                    option(
                      value=site["id"]
                      selected=(post_params != undefined ? (parseInt(post_params.selSite_clog) == parseInt(site["id"])) : false)
                    )= site["name"]
            div(class="col-4")
          div(class="row p-1")
            div(class="col-1 text-light") Agent 
            div(class="col-3")
              select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selAgent_clog"
                  id="selAgent_clog"
                  required
                )
                  if agents.length > 1
                    option(selected value="-111") All
                  each agent in agents  
                    option(
                      value=agent["id"]
                      selected=(post_params != undefined ? (parseInt(post_params.selAgent_clog) == parseInt(agent["id"])) : false)
                    )= agent["username"]
            div(class="col-1") Date
            div(class="col-7")
              div(class="row")
                div(class="col-2 pe-0")
                  input(
                    class="form-input w-100 rounded-2 pull-right" 
                    type="text" 
                    id="iptDateStart_clog" name="iptDateStart_clog"
                    value=(post_params != undefined ? post_params.iptDateStart_clog : "")
                  )
                div(class="col-1 pe-0 m-0")
                  i(class="bi bi-arrow-right-circle text-light fs-5")
                div(class="col-2 pe-0")
                  input(
                    class="form-input w-100 rounded-2 pull-right" 
                    type="text" 
                    id="iptDateEnd_clog" name="iptDateEnd_clog"
                    value=(post_params != undefined ? post_params.iptDateEnd_clog : "")
                  )
          div(class="row p-1")
            div(class="col-1 text-light") IP Adress 
            div(class="col-3")
              input(
                class="w-75 h-80 rounded-2"
                type="text"
                name="iptIP_clog"
                id="iptIP_clog"
                value=(post_params != undefined ? post_params.iptIP_clog : "")
                placeholder="IP Adress"
              )
            div(class="col-1")
            div(class="col-7")
          div(class="row p-1")
            div(class="col-2")
              input(
                type="submit"
                class="btn btn-info mb-2 w-100"
                value="Search"
              )
            div(class="col-2")
              a(
                role="button"
                class="btn btn-secondary mb-1"
                href="logs"
              ) Reset
            div(class="col-8")

      table(class="w-100 tablemanager1" id="tblHitlogs")
        thead 
          tr 
            th #
            th Office
            th Agent
            th Site
            th Type(abbr) 
            th Link 
            th Time 
            th IP from
            th Country
            th Passed
        - var i1 = 0
        tbody
          each row in data1 
            - i1++
            tr 
              td= i1
              td= row['office']
              td= row['agent']
              td= row['site']
              td= row['typeabbr']
              td(name='uLinkin')= row['linkin']
              td(name='uTimeStr')= row['time']
              td
                a(class="text-info" href='https://whatismyipaddress.com/ip/' + row['ip4'] target='_blank')= row['ip4']
              - var title = countries[row['country']];
              td(title=(typeof(title) !== undefined ? title : "") style="cursor:default;")= row['country']
              case row['passed']
                when 0
                  td 
                    i(class="bi bi-sign-stop text-danger fs-4")
                when 1
                  td 
                    i(class="bi bi-stoplights text-success fs-4")
                default 
                  td 
                    label(for) -
        tfoot 
          tr 
            td
            td
            td
            td
            td
            td
            td
            td
            td(class="text-bg-warning text-end") Click Tots:
            td(class="text-bg-warning")= i1

  case parseInt(tab)
    when 0
      script.
        $("#login-tab").click();
    when 1
      script.
        $("#hit-tab").click();

  script(src="javascripts/logs.pug.js")