extends layout

block content
  h4(class="text-light")= title

  - var soe = (data == "" ? 0 : 1)
  case soe
    when 0
      div(class="container") news should be shown here in html rendered 
    when 1
      form(id="formNews" action="news" method="post")
        div(class="container w-100 m-0 p-0")
          div(class="row")
            div(class="col mb-2")
              input(
                id="iptId" name="iptId"
                type="hidden" 
                value=data[0]['id']
              )
              textarea(
                id="joitNews" name="joitNews" 
                placeholder="Design your news, please."
              )= data[0]["content"]
          div(class="row")
            div(class="col-2")
              input(
                class="btn btn-primary mb-1 w-100"
                type="submit"
                value="Update"
              )
            div(class="col-2")
              a(
                role="button"
                class="btn btn-secondary mb-1"
                href="home"
              ) Cancel
            div(class="col-8")
        script(src='javascripts/news.pug.js')