extends layout

block content
  include loading.pug
  
  button(id="btnShowIt" class="btn btn-info d-none" data-bs-toggle="modal" data-bs-target="#showItModal") loading
  div(class="modal" id="showItModal" tabindex="-1" aria-labelledby="showItModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content text-bg-dark" style="width:420px;")
        div(class="modal-header d-none")
        div(class="modal-body text-center" id="divShowIt")  
        div(class="modal-footer d-block")
          button(id="btnEndIt" class="btn btn-info" data-bs-dismiss="modal") OK

  ul(class="nav nav-tabs mb-1" id="newsTab" role="tablist")
    li( class="nav-item" role="presentation")
      button(
        class="nav-link ps-2 pe-2 pt-0 pb-0 border-bottom bg-dark text-light fw-normal fs-6 active" 
        id="news-tab" type="button" role="tab" 
        data-bs-toggle="tab" data-bs-target="#news-tab-pane"
        aria-controls="news-tab-pane" aria-selected="true"
      ) News
    li( class="nav-item" role="presentation")
      button(
        class="nav-link ps-2 pe-2 pt-0 pb-0 border-bottom bg-dark text-light fw-normal fs-6" 
        id="alert-tab" type="button" role="tab" 
        data-bs-toggle="tab" data-bs-target="#alert-tab-pane"
        aria-controls="alert-tab-pane" aria-selected="false"
      ) Alert

  - var soe = (data == "" ? 0 : 1)
  case soe
    when 0
      div(class="container") news should be shown here in html rendered 
    when 1
      div(class="row")
        div(class="col-1")
          a(
            role="button"
            class="btn btn-info btn-sm w-75 p-0 mt-0 mb-1"
            href="#"
            id="lnkUpload"
            onClick="$('#iptUpload').click();"
          ) 
            i(class="bi bi-upload fs-6 p-0 me-1")
            i(class="bi bi-image fs-6 p-0")
          form(enctype="multipart/form-data" method="post")
            input(
              type="file"
              class="d-none w-100 text-light"
              id="iptUpload"
              name="image"
              accept="*.gif, *.jpeg, *.jpg, *.png, *.bmp"
            ) 
      form(id="formNews" action="news" method="post")
        div(class="container w-100 m-0 p-0")
          div(class="row")
            div(class="col mb-2")
              input(
                type="hidden" 
                id="iptCurTab" name="iptCurTab"
                value=0
              )
              input(
                id="iptId" name="iptId"
                type="hidden" 
                value=data[0]['id']
              )
              textarea(
                id="joditNews" name="joditNews" 
                placeholder="Design your news/alert, please."
              )= data[0]["content"]
              input(
                id="iptId1" name="iptId1"
                type="hidden" 
                value=(data1 == undefined || data1 == null ? "" : data1[0]['id'])
              )
              input(
                type="hidden"
                id="iptData1" name="iptData1"
                value=(data1 == undefined || data1 == null ? "" : data1[0]['content'])
              )
          div(class="row")
            div(class="col-2")
              input(
                class="btn btn-info mb-1 w-100"
                type="submit"
                value="Update"
              )
            div(class="col-2")
              input(
                class="btn btn-info mb-1 me-1 d-none"
                type="button"
                id="btnPreview"
                value="Preview"
              )
              a(
                role="button"
                class="btn btn-secondary mb-1"
                href="home"
              ) Cancel
            div(class="col-8")
        script(src='javascripts/news.pug.js')
