extends layout

block content
  button(id="btnStartLoading" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#spinnerModal") loading
  div(class="modal" id="spinnerModal" tabindex="-1" aria-labelledby="spinnerModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content text-bg-dark")
        div(class="modal-header d-none")
        div(class="modal-body")
          button(class="btn p-0 w-100" type="button" id="btnLoading" disabled)
            span(class="spinner-border spinner-border-sm" aria-hidden="true")
            span(class="pe-1" role="status") Uploading...    
        div(class="modal-footer d-none")
          button(id="btnEndLoading" class="btn btn-primary" data-bs-dismiss="modal") GotIt!
  button(id="btnShowIt" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#showItModal") loading
  div(class="modal" id="showItModal" tabindex="-1" aria-labelledby="showItModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered")
      div(class="modal-content text-bg-dark" style="width:420px;")
        div(class="modal-header d-none")
        div(class="modal-body text-center" id="divShowIt")  
        div(class="modal-footer d-block")
          button(id="btnEndIt" class="btn btn-primary" data-bs-dismiss="modal") OK

  - var soe = (data == "" ? 0 : 1)
  case soe
    when 0
      div(class="container") news should be shown here in html rendered 
    when 1
      div(class="row")
        div(class="col-1")
          a(
            role="button"
            class="btn btn-info btn-sm w-75 p-0 mt-0 mb-1"
            href="#"
            id="lnkUpload"
            onClick="$('#iptUpload').click();"
          ) 
            i(class="bi bi-upload fs-6 p-0 me-1")
            i(class="bi bi-image fs-6 p-0")
          form(enctype="multipart/form-data" method="post")
            input(
              type="file"
              class="d-none w-100 text-light"
              id="iptUpload"
              name="image"
              accept="*.gif, *.jpeg, *.jpg, *.png, *.bmp"
            ) 
      form(id="formNews" action="news" method="post")
        div(class="container w-100 m-0 p-0")
          div(class="row")
            div(class="col mb-2")
              input(
                id="iptId" name="iptId"
                type="hidden" 
                value=data[0]['id']
              )
              textarea(
                id="joditNews" name="joditNews" 
                placeholder="Design your news, please."
              )= data[0]["content"]
          div(class="row")
            div(class="col-2")
              input(
                class="btn btn-primary mb-1 w-100"
                type="submit"
                value="Update"
              )
            div(class="col-2")
              a(
                role="button"
                class="btn btn-secondary mb-1"
                href="home"
              ) Cancel
            div(class="col-8")
        script(src='javascripts/news.pug.js')
