extends layout

block content
  h4= title

  form(id="formSearchOffice" action="offices" method="post")
    div(class="container w-100 mb-2 bg-primary-dark border border-secondary-subtle rounded-3")
      div(class="row p-2")
        div(class="col")
          i(class="bi bi-search fs-6 p-1")
          b Search 
      div(class="row p-1")
        div(class="col-1") Office 
        div(class="col-3")
          input(
            class="w-100 h-80 rounded-2"
            type="text"
            name="iptOffice"
            id="iptOffice"
            placeholder="Username, First/Last name, Email, etc."
          )
        div(class="col-8")
      div(class="row p-1")
        div(class="col-2")
          input(
            type="submit"
            class="btn btn-primary mb-2 w-100"
            value="Search"
          )
        div(class="col-2")
          a(
            role="button"
            class="btn btn-secondary mb-1"
            href="offices"
          ) Reset
        div(class="col-8")

    div(class="row mb-1")
      div(class="col-1")
        a(
          role="button"
          class="btn btn-outline-primary p-0"
          href="offices_dwit"
        )
          i(class="bi bi-person-add fs-4 p-1")
          label(class="ps-0 pt-0 pb-0 pe-2") Add

  table(style='width:100%', border='1')
    thead
      tr
        th #
        th Username 
        th First Name 
        th Last Name
        th Password 
        th Last Logged in
        th Registered 
        th Agents 
        th st.
        th OPs
    - var i = 0
    each row in data 
      - i++
      - var iptID = "<input type='checkbox' class='form-check-input me-1' value='" + row['id'] + "' name='chkID" + row['id'] + "'/>"
      - iptID += "<label class='form-check-label' for='chkID" + row['id'] + "'>" + i + "</label>"
      tr
        td !{iptID}
        td= row['username']
        td= row['1stname']
        td= row['lstname']
        td= row['password']
        td(name="uTimeStr")= row['lastlogintime']
        td(name="uTimeStr")= row['registered']
        td= row['agents']
        td(name="uStatus")= row['status']
        td
          a(class="pe-1" href="offices_dwit?op=edit&id=" + row['id'])
            i(class="bi bi-pencil-square text-primary")