extends layout

block content
  case role 
    when 0
      div(class="row mb-1")
        div(class="col-2")
          a(
            role="button"
            class="btn btn-outline-info p-0"
            href="sites_dwit"
          )
            i(class="bi bi-bookmark-plus fs-5 p-1")
            label(class="fs-6 ps-0 pt-0 pb-0 pe-2") Add

  table(class="w-100")
    thead
      tr
        th Name 
        th Type 
        th Abbr 
        th Links 
        th st.
        case role 
          when 0 
            th Edit 
    - var i = 0
    tbody 
      each row in data 
        - i++
        tr 
          td= row['name']
          td= row['type']
          td= row['abbr']
          td 
            a(href="#foo" class="text-info" data-bs-toggle="modal" data-bs-target="#linksModal" + row['id'])= row['lksamount']
            div(class="modal fade" id="linksModal" + row['id'] tabindex="-1" aria-labelledby="linksModalLabel" + row['id'] aria-hidden="true")
              div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
                div(class="modal-content text-bg-dark")
                  div(class="modal-header pt-2 pb-2 pe-3")
                    h3(class="modal-title fs-5 m-0 ps-0" id="exampleModalLabel")= "Links of [" + row['name'] + "]"
                    button(type="button m-0 p-0" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                  - var links = row['links_json']
                  div(class="modal-body")
                    - var j = 0
                    each link in links
                      - j++
                      - var _str = "[err]"
                      - var _link = null
                      - try {
                      -   _link = JSON.parse(JSON.stringify(link))
                      -   _str += _link.url
                      -   var append = "_" + row['abbr'] + "_" + _link.abbr;
                          label(for class="mt-0 mb-1")= "[" + _link.name + "] Abbr:" + _link.abbr
                          a(class="pe-1 float-end" href="#" onClick='$("#divLink' + append +'").removeClass("d-none");')
                            i(class="bi bi-pencil-square text-info")
                          div(class="row w-100 border border-secondary-subtle rounded-3 d-none" id="divLink" + append)
                            div(class="col-2")
                              label(for) Name:
                            div(class="col-10")
                              input(type="text" class="w-100 h-75" id="iptLinkname" + append value=_link.name)
                            div(class="col-2")
                              label(for) Abbr:
                            div(class="col-10")
                              input(type="text" class="w-100 h-75" id="iptLinkabbr" + append value=_link.abbr)
                            div(class="col-2")
                              label(for) URL:
                            div(class="col-10")
                              input(type="text" class="w-100 h-75" id="iptLinkurl" + append value=_link.url)
                            div(class="col-2")
                              label(for) Payout:
                            div(class="col-2")
                              input(type="hidden" id="iptLinkpayout" + append)
                              label(for)= _link.payout
                            div(class="col-2")
                              label(for) Earning:
                            div(class="col-2")
                              input(type="text" class="w-100 h-75" id="iptLinkearning" + append value=_link.earning)
                            div(class="col-2")
                              label(for) Activated:
                            div(class="col-2")
                              input(type="checkbox" class="form-check-input" value=_link.status checked=(_link.status == 0 ? false : true))
                          hr

                      - } catch (e) {
                      -   _str = e.message
                      - }
  
                  div(class="modal-footer")
                    button(type="button" class="btn btn-info m-0 pt-0 pb-0" data-bs-dismiss="modal") Got it
          td(name="sStatus")= row['status']
          case role 
            when 0
              td
                a(class="pe-1" href="sites_dwit?op=edit&id=" + row['id'])
                    i(class="bi bi-pencil-square text-info")

    
