extends layout

block content
  include loading.pug

  form(id="formLoadStats" action="stats" method="post")
      div(class="container w-100 mb-2 bg-info-dark border border-secondary-subtle rounded-3")
        div(class="row p-1")
          div(class="col-1")
            i(class="bi bi-cash-coin fs-3 text-light float-start")
          div(class="col-11 lh-sm text-light fw-bold")
            label(style="font-size:12px;") All stats pages show EST/EDT(USA) time zone
            br
            label(style="font-size:12px;") World Clock: 
            a(href="http://www.timeanddate.com/worldclock/" target="_blank" style="font-size:12px;" class="fw-bold ms-2") http://www.timeanddate.com/worldclock/
            hr(class="mt-1 mb-0")
        div(class="row p-1")
          div(class="col-1")
            label(for="selSite") Site
          div(class="col-4")
            - var len = Object.keys(sites).length
            case len
              when 1
                select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selSite"
                  id="selSite"
                  required
                )
                  option(selected value=sites[0]["id"])= sites[0]["name"]
              default 
                select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selSite"
                  id="selSite"
                  required
                )
                  option(selected value="-111") All
                  each site in sites  
                    option(value=site["id"] class=(parseInt(site["status"]) != 1 ? "text-danger" : ""))= site["name"]
          div(class="col-1")
            label(style="font-size:14px;color:white;") View By
          div(class="col-6")
            input(type="hidden" id="iptViewBy" name="iptViewBy" value="detail")
            div(class="form-check form-check-inline")
                input(class="form-check-input" type="radio" name="rdioViewBy" id="rdioViewByDay" value="day" onclick="$('#iptViewBy').val(this.value);")
                label(class="form-check-label text-light" for="rdioViewByDay") Day
            div(class="form-check form-check-inline")
                input(class="form-check-input" type="radio" name="rdioViewBy" id="rdioViewByOffice" value="office" onclick="$('#iptViewBy').val(this.value);")
                label(class="form-check-label text-light" for="rdioViewByOffice") Office
            div(class="form-check form-check-inline")
                input(class="form-check-input" type="radio" name="rdioViewBy" id="rdioViewByAgent" value="agent" onclick="$('#iptViewBy').val(this.value);")
                label(class="form-check-label text-light" for="rdioViewByAgent") Agent
            div(class="form-check form-check-inline")
                input(class="form-check-input" type="radio" name="rdioViewBy" id="rdioViewByDetail" value="detail" onclick="$('#iptViewBy').val(this.value);" checked="true")
                label(class="form-check-label text-light" for="rdioViewByDetail") Detail
        div(class="row p-1")
          div(class="col-1")
            label(for="selType") Type
          div(class="col-4")
            select(
                class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                name="selType"
                id="selType"
                required
            )
                option(selected value="-111") All
          div(class="col-1")
            label(for="selPeriod") Periods
          div(class="col-6")
            select(
                class="form-select w-75 pe-0 pt-0 pb-0"
                name="selPeriod"
                id="selPeriod"
                required
            )
                option(selected value="0") -Pick a preset period-
        div(class="row p-1")
          div(class="col-1")
            label(for="selOffice") Office
          div(class="col-4")
            - var len = offices.length
            case len
              when 1
                select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selOffice"
                  id="selOffice"
                  required
                  readonly
                )
                  option(selected value=offices[0]["id"])= offices[0]["username"]
              default 
                select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selOffice"
                  id="selOffice"
                  required
                )
                  option(selected value="-111") All
                  - for (var j = 0; j < offices.length; j++) 
                    option(value=offices[j]['id'])= offices[j]['username']
                
          div(class="col-1")
            i(class="bi bi-arrow-return-right fs-5 w-50 text-light float-end")
          div(class="col-6")
            input(class="d-none form-input w-75 rounded-2 pull-right" type="text" name="datePeriod")
            div(class="row w-75 p-0")
              div(class="pe-0" style="width:45%;")
                input(class="form-input w-100 rounded-2 pull-right" type="text" id="iptDateStart")
              div(class="pe-0 m-0" style="width:10%;")
                center
                  i(class="bi bi-arrow-right-circle text-light fs-5")
              div(class="pe-0" style="width:45%;")
                input(class="form-input w-100 rounded-2 pull-right" type="text" id="iptDateEnd")
        div(class="row p-1")
          div(class="col-1")
            label(for="selAgent") Agent
          div(class="col-4")
            - var len = Object.keys(agents).length
            case len
              when 1
                select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selAgent"
                  id="selAgent"
                  required
                  readonly
                )
                  option(selected value=agents[0]["id"])= agents[0]["username"]
              default 
                select(
                  class="form-select w-75 ps-1 pe-0 pt-0 pb-0"
                  name="selAgent"
                  id="selAgent"
                  required
                )
                  option(selected value="-111") All
                  each agent in agents  
                    option(value=agent["id"])= agent["username"]
          div(class="col-1")
          div(class="col-4")
        div(class="row p-1")
          div(class="col-2")
            input(
              class="btn btn-info mb-1 w-100"
              type="submit"
              value="Load Report"
              disabled=false
            )
          div(class="col-3")
          div(class="col-5")

  input(type="hidden" id="iptPost_params" value=JSON.stringify(post_params))
  div(class="row") 
    div(class="col w-100 text-danger fw-medium ps-3" id="divCaption")
  - var thTypes = [{"abbr":"", "alias":'L-1'}, {"abbr":"", "alias":'L-2'}]
  table(class="w-100 tablemanager" id="tblStats")
    thead
      tr 
        th #
        case viewBy
          when 'detail'
          when 'day'
            th Day 
        case viewBy
          when 'detail'
          when 'agent'
            th Agent 
        case viewBy
          when 'detail'
          when 'office'
            th Office 
        case viewBy
          when 'detail'
            th Site 
        th Raws 
        th Uniques
        case post_params.selSite
          when "-111"
            - break
          default 
            - var selSiteLinks = null
            each site in sites 
              if parseInt(site['id']) == parseInt(post_params.selSite)
                - selSiteLinks = site['links']
                - //p(class="text-warning")= JSON.stringify(site['links']) //for debug
            if selSiteLinks != null
              - var jj = 0
              - var selSlnk = null 
              each selSiteLink in selSiteLinks
                - jj++;
                - try {
                  - selSlnk = JSON.parse(selSiteLink)
                    if jj <= thTypes.length
                      - thTypes[jj - 1].alias = selSlnk.alias
                      - thTypes[jj - 1].abbr = selSlnk.abbr
                - } catch (e) {
                    if jj <= thTypes.length
                      - thTypes[jj - 1].alias = "L-" + jj
                - }

            - break
        th(style="background:#A3E4FF")= thTypes[0].alias 
        th(style="background:#A3E4FF")= thTypes[1].alias
        th(style="background:#A3E4FF") Tot Sales
        case role 
          when 0
            th earning 
    - var i = 0
    - var tots = []
    - tots['raws'] = tots['uniques'] = tots['sales0'] = tots['sales1'] = tots['sales'] = tots['earnings'] = 0
    tbody 
      each row in stats
        - i++
        - tots['raws'] += parseInt(row['raws'])
        - tots['uniques'] += parseInt(row['uniques'])
        - tots['sales'] += parseInt(row['sales_type0']) + parseInt(row['sales_type1'])
        - tots['sales0'] += parseInt(row['sales_type0'])
        - tots['sales1'] += parseInt(row['sales_type1'])
        - tots['earnings'] += parseFloat(row['sales_type0_earning']) + parseFloat(row['sales_type1_earning'])
        tr(title=(viewBy != 'detail' ? "Before the drilldown, please make sure don't change any searching conditions." : ""))
          td= i 
          case viewBy
            when 'detail'
              - // td(name="uDateStr")= row['day']
              td= row['day']
            when 'day'
              - // td(name="uDateStr" class="text-info")= row['day']
              td 
                a(
                  href="#"+i class="text-info"
                  onClick="drillDown('" + row['day'] + "')"
                )= row['day']
          case viewBy
            when 'detail'
              td= row['agent']
            when 'agent'
              td
                a(
                  href="#"+i class="text-info"
                  onClick="drillDownAgent('" + row['agentid'] + "')"
                )= row['agent']
          case viewBy
            when 'detail'
              td= row['office']
            when 'office'
              td
                a(
                  href="#"+i class="text-info"
                  onClick="drillDownOffi('" + row['officeid'] + "')"
                )= row['office']
          case viewBy
            when 'detail'
              td= row['site'] 
          td= row['raws'] 
          td= row['uniques']
          - var unescSaleStrs = [row['sales_type0'], row['sales_type1']]
          if (role == 0 && user == "root")
            if (viewBy == "detail")
              - var ymd = row['day'].split("/")
              - var day_cn_fmt = ymd[2] + "-" + ymd[0] + "-" + ymd[1]
              - unescSaleStrs[0] = (post_params.selSite == "-111" || row['sales_type0'] == 0 ? row['sales_type0'] : "<a href='#sale' class='link-info' data-sale=" + row['sales_type0'] + " data-type='" + thTypes[0].abbr + "' data-day='" + day_cn_fmt + "' data-agent='" + row['agent'] + "' onClick='$(\"#btnSale\").click();'>" + row['sales_type0'] + "</a>")
              - unescSaleStrs[1] = (post_params.selSite == "-111" || row['sales_type1'] == 0 ? row['sales_type1'] : "<a href='#sale' class='link-info' data-sale=" + row['sales_type1'] + " data-type='" + thTypes[1].abbr + "' data-day='" + day_cn_fmt + "' data-agent='" + row['agent'] + "' onClick='getSales(\"" + day_cn_fmt + "\", \"" + row['agent'] + "\", \"" + thTypes[1].abbr + "\");$(\"#btnSale\").click();'>" + row['sales_type1'] + "</a>")
          td !{unescSaleStrs[0]}
          td !{unescSaleStrs[1]}
          td= row['sales_type0'] + row['sales_type1']
          case role
            when 0
              td= '$' + parseFloat(row['sales_type0_earning'] + row['sales_type1_earning']).toFixed(2)
    tfoot 
      tr
        case viewBy
          when 'detail'
            td(class="text-bg-warning fw-bold text-end" colspan=5) Page Totals:
            break
        case viewBy
          when 'agent'
          when 'office'
          when 'day'
            td(class="text-bg-warning fw-bold text-end" colspan=2) Page Totals:
        td(class="text-bg-warning fw-bold" id="tdPageRaws") raws
        td(class="text-bg-warning fw-bold" id="tdPageUniques") uniques
        td(class="text-bg-warning fw-bold" id="tdPageSales0") sales0
        td(class="text-bg-warning fw-bold" id="tdPageSales1") sales1
        td(class="text-bg-warning fw-bold" id="tdPageSales") sales
        case role
          when 0
            td(class="text-bg-warning fw-bold" id="tdPageEarning") earning
      tr
        case viewBy
          when 'detail'
            td(class="text-bg-warning fw-bold text-end" colspan=5) Overall Totals:
            break
        case viewBy
          when 'agent'
          when 'office'
          when 'day'
            td(class="text-bg-warning fw-bold text-end" colspan=2) Overall Totals:
        td(class="text-bg-warning fw-bold")= tots['raws']
        td(class="text-bg-warning fw-bold")= tots['uniques']
        td(class="text-bg-warning fw-bold")= tots['sales0']
        td(class="text-bg-warning fw-bold")= tots['sales1'] 
        td(class="text-bg-warning fw-bold")= tots['sales']
        case role
          when 0
            td(class="text-bg-warning fw-bold")= '$' + tots['earnings'].toFixed(2)
      tr 
        case viewBy
          when 'detail'
            td(class="text-bg-warning fw-bold text-end" colspan=5) Uniques to Sales Ratio:
            break
        case viewBy
          when 'agent'
          when 'office'
          when 'day'
            td(class="text-bg-warning fw-bold text-end" colspan=2) Uniques to Sales Ratio:
        td(class="text-bg-warning fw-bold text-start" colspan=6)= (tots["sales"] !== 0 ? "1:" + (parseFloat(tots["uniques"]) / parseFloat(tots["sales"])).toFixed(2) : "0:" + parseFloat(tots["uniques"]).toFixed(2))

  button(id="btnSale" class="btn btn-info d-none" data-bs-toggle="modal" data-bs-target="#saleModal") sale
  div(class="modal fade" id="saleModal" tabindex="-1" aria-labelledby="saleModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered modal-lg")
        div(class="modal-content text-bg-dark")
            div(class="modal-header d-none")
            div(class="modal-body")
                div(id="divSales" class="mb-3") Sales
                table(id="tblSales")
                    thead
                        tr
                            th(class="bg-info") #
                            th(class="bg-info") Time
                            th(class="bg-info" data-bs-toggle="tooltip" title="Conversion user IP") IP
                            th(class="bg-info") Country
                            th(class="bg-info") Region
                            th(class="bg-info") City
                            th(class="bg-info") Referer
                    tbody(id="tbdSales")
                div(id="divSalesTip")
            div(class="modal-footer p-0")
                button(id="btnEnd" class="btn btn-info btn-sm me-3" data-bs-dismiss="modal") Got it

  script(src="javascripts/stats.pug.js")
          
